:root {
    --bg-img: url('./img/default.jpg');
    --bg: rgba(255, 255, 255, 0.6);
    --widget-color: rgba(255, 255, 255, 0.85);
    --bg-blur: 3px;
    --widget-title: 1.8rem;
}


*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: 2px transparent;
    outline: 0;
    border-radius: 15px;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
}

/* GENERAL CLASSES */
.bg {
    background-color: var(--bg);
    backdrop-filter: blur(var(--bg-blur));
}

.hidden{
    display: none;
}

.hide {
    visibility: hidden;
}

/* HEADER */
header{
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: center;
}

.date-board{
    /* FIX STYLING */
    border-radius: 100px;
    padding: .75rem 4rem;
    display: flex;
    /* FIX DYNAMIC GAP */
    gap: 2rem; 
}

.time {
    font-weight: bold;
}

/* GENERAL WIDGET STYLING */
.wtitle {
    font-size: var(--widget-title);
    font-weight: 100;
    margin-bottom: 1rem;
}

.witem {
    background-color: var(--widget-color);
    width: 100%;
}

.widgets{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.widgets > * {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* TITLE */
main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    user-select: none;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.95);
}

.title-box {
    position: relative;
}

.title-input {
    position: absolute;
    background-color: var(--widget-color);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 3rem;
    inset: 0 0 0 0;
}


/* LINKS */
.add{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.link-input{
    position: absolute;
    inset: 0;
}

.links{
    width: 100%;
    margin-bottom: auto;
}

.link {
    padding: 1rem 0.5rem;
    position: relative;
}

.close {
    font-style: normal;
    font-size: .75rem;
    position: absolute;
    inset: 2px 5px auto auto;
    cursor: pointer;
}


/* WEATHER */
.weather-container{display: flex}
.day{font-weight: bold}

.weather-image {width: 100%}
.image-container {
    width: 4rem;
    aspect-ratio: 1/1;
}

.all-weathers {
    margin-bottom: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.weather-info{
    display: flex;
    flex-direction: column;
}

.temp-and-such{
    display: flex;
    font-size: .9rem;
}

.temp-and-such > * {
    background-color: var(--widget-color);
    padding: .15rem .5rem;
}




/* CAT FACTS */
.fact-container{
    width: 100%;
    height: fit-content;
    margin-bottom: auto;
    padding: .5rem .5rem;
}

.cat-fact {
    font-weight: bold;
    font-size: 1.15rem;
    text-align: center;
    
    &::before{
      content: "“ ";
      font-size: 3rem;
      line-height: 0;
      vertical-align: bottom;
    }
    &::after{
        content: " ”";
        font-size: 3rem;
        line-height: 0;
        vertical-align: bottom;
    }
}


/* NOTES */
.text-area{
    height: 100%;
    width: 100%;
    padding: 1rem;
    resize: none;
}


/* FOOTER */
footer{
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: center;
}

.btn{
    padding: .5rem 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.query{
    position: relative;
}

.query-input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: auto auto 0 0 ;
}