:root {
    --bg-img: url('./img/default.jpg');
    --bg: rgba(255, 255, 255, 0.6);
    --widget-color: rgba(255, 255, 255, 0.705);
    --bg-blur: 3px;
    --widget-title: 1.8rem;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: 2px transparent;
    outline: 0;
    border-radius: 15px;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
}


/* GENERAL CLASSES */
.bg {
    background-color: var(--bg);
    backdrop-filter: blur(var(--bg-blur));
}

.hidden{display: none}
.hide {visibility: hidden}


/* HEADER */
header{
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: center;
}

.date-board{
    border-radius: 100px;
    padding: .75rem 4rem;
    display: flex;
    gap: 2rem; 
}

.time {font-weight: bold;}

/* GENERAL WIDGET STYLING */
.wtitle {
    font-size: var(--widget-title);
    font-weight: 100;
    margin-bottom: 1rem;
}

.witem {
    background-color: var(--widget-color);
    width: 100%;
    border-radius: 10px;
}

.widgets{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.widgets > * {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* TITLE */
main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    user-select: none;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.95);
}

.title-box {
    position: relative;
    min-width: 500px;
    text-align: center;
}

.title-input {
    position: absolute;
    background-color: var(--widget-color);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 3rem;
    inset: 0 0 0 0;
}


/* LINKS */

.shortcuts{
    justify-content: start;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.shortcuts::-webkit-scrollbar {
    display: none;
}

.add{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.add-link {
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: rgba(143, 143, 143, 0.596);
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
}

.link-input{
    position: absolute;
    inset: 0;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
}

.links{
    width: 100%;
}

.link {
    padding: 1rem 0.5rem;
    position: relative;
    margin-bottom: .5rem;
}

.link a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.close {
    font-style: normal;
    font-size: .75rem;
    position: absolute;
    inset: 10% 4% auto auto;
    cursor: pointer;
}


/* WEATHER */
.day{font-weight: bold}

.weather-image {width: 100%}
.image-container {
    width: 4rem;
    aspect-ratio: 1/1;
}

.weather-container{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.all-weathers {
    margin-bottom: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.weather-info{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.temp-and-such{
    display: flex;
    gap: .5rem;
    font-size: .9rem;
}

.temp-and-such > * {
    background-color: rgba(255, 255, 255, 0.411);
    padding: .15rem .5rem;
    border-radius: 5px;
}

.location {
    user-select: none;
    font-weight: bold;
}

.location-query{
    width: 100%;
    height: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-input{
    position: absolute;
    inset: 0 0 0 0;
    font-size: 1.25rem;
    text-align: center;
    background-color: var(--widget-color);
    padding: .5rem;
}


/* CAT FACTS */
.fact-container{
    width: 100%;
    height: fit-content;
    margin-bottom: auto;
    padding: .5rem .5rem;
}

.cat-fact {
    font-weight: bold;
    font-size: 1.15rem;
    text-align: center;
    
    &::before{
      content: "“ ";
      font-size: 3rem;
      line-height: 0;
      vertical-align: bottom;
    }
    &::after{
        content: " ”";
        font-size: 3rem;
        line-height: 0;
        vertical-align: bottom;
    }
}


/* NOTES */
.text-area{
    height: 100%;
    width: 100%;
    padding: 1rem;
    resize: none;
}


/* FOOTER */
footer{
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: center;
}

.btn{
    padding: .5rem 2rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.query{
    position: relative;
}

.query-input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: auto auto 0 0 ;
}